@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato";
  list-style-type: none;
  text-decoration: none;
}

:root {
  --text-color: #ccf381;
  --btn-background-color: #badd76;
  --btn-font-size: 1.5rem;
  --btn-font-fanily: "teko";
}
.container {
  display: flex;
  flex-direction: column;
}
.box3 {
  height: 100vh;
  background-color: #2a3132;
}
.box4 {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a3132;
  grid-column: span 3;
}
.logo {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.logo img {
  width: 3rem;
  border-radius: 50%;
}
.logo h2 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  padding-left: 20px;
  text-transform: uppercase;
  color: var(--text-color);
  font-family: "Monoton", sans-serif;
}
.nav {
  grid-column: span 3;
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: space-between;
  background-color: #2a3132;
  transition: 0.3s;
  align-items: center;
  overflow: hidden;
  z-index: 11111;
  position: fixed;
}
.nav ul {
  display: flex;
  visibility: visible;
  transition: .3s;
}


.nav ul li a {
  display: block;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  transition: 0.3s;
  letter-spacing: 2px;
  position: relative; /* Add this line */
}
.nav ul li a:hover {
  color: var(--text-color);
}
.nav ul li .active {
  color: var(--text-color);
}
.nav ul li .active:hover {
  color: white;
}
#check {
  display: none;
}
.menu i {
  display: none;
  color: var(--text-color);
}

/* container 2 work :start */

.icons-container {
  align-self: start;
  justify-content: space-between;
  height: 200px;
  margin-top: 50px;
  left: 4%;
  top: 24%;
  display: flex;
  position: absolute;
  flex-direction: column;
  transition: 0.3s;
}
/* -------------------icons-styling start------------- */
.icons-container i {
  color: var(--text-color);
  cursor: pointer;
  margin-left: -10px;
  font-size: 30px;
  transition: 0.3s;
}
.icons i:hover {
  color: #f3f8ea;
}

.box2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2a3132;
}

.my-description {
  display: flex;

  flex-direction: column;
  color: var(--text-color);
  margin: 12% 100px 0px -22% ;
  padding: 120px;
  font-size: 1rem;
  font-weight: 400;
  width: 60%;
 
  letter-spacing: 1px;
  height: 100%;
}
.typedjs #element {
  font-size: 3rem;
  letter-spacing: 2px;
  text-shadow: 0px 0px 50px #0a7271;
  font-family: "Teko", sans-serif;
  color: var(--text-color);
}
.buttons-container {
  display: flex;
  margin: 20px 0px 20px 0px;
}
.btn {
  cursor: pointer;
  font-size: var(--btn-font-size);
  font-weight: 400;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 6px;
  text-align: center;
  letter-spacing: 2px;
  font-family: var(--btn-font-fanily);
}
.btn:nth-child(1) {
  background-color: var(--btn-background-color);
  border: 1px solid #0a7271;
  transition: 0.3s;
}

.btn:nth-child(1):hover {
  background-color: #ccf381;
}
.btn:nth-child(2) {
  color: var(--text-color);
  border: 1px solid var(--btn-background-color);
  background-color: transparent;
  transition: 0.3s;
}
.btn:nth-child(2):hover {
  color: #ffffffce;
  box-shadow: 0px 0px 5px #ccf381;
  border: 1px solid #ffffffce;
}
.myname {
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
}
.circle-container {
  display: flex;
  left: 0;
  right: 0;
  width: 200px;
  height: 200px;
  margin: 85px auto;
  align-items: center;
  justify-content: center;
  top: 50px;
  position: absolute;
}
.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--text-color);
}
.circle:nth-child(1) {
  background-color: white;
  box-shadow: 0px 0px 50px #badd76, inset 0px 0px 5px #badd76;
}
.circle:nth-child(2) {
  width: 90%;
  height: 90%;
  background-color: white;
}
.image {
  width: 100%;
  border: 3px solid var(--text-color);
  box-shadow: 0px 0px 5px var(--text-color);
  border-radius: 50%;
}
/* ---------------------------------box 3--------------------- */
.box3 h2 {
  color: var(--text-color);
  font-size: 3rem;

  margin: 100px 0px 0px 50px;
}
.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
}
.contact-me h2 {
  border-bottom: 1px dashed white;
  padding: 5px;
  margin: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  color: white;
}
.contact-me form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-input-container input {
  width: 50%;
  color: #0a7271;
  padding: 10px;
  border-radius: 10px;
  background-color: #11111152;
  border: none;
}
.contact-input-container input:active {
  border: 1px solid green;
}
.contact-me form textarea {
  color: #0a7271;
  text-align: center;
  margin: 20px;
  width: 50%;
  border-radius: 10px;
  background-color: #11111152;
  border: none;
  resize: none;
}
.Submit-btn {
  margin: 10px;
  font-size: var(--btn-font-size);
  font-size: 1.5rem;
  padding: 4px 25px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--text-color);
  font-family: var(--btn-font-fanily);
  color: white;
  letter-spacing: 2px;
  transition: 0.3s;
}
.Submit-btn:hover {
  box-shadow: 0px 0px 10px #ccf381;
}
.footer-icons-container {
  margin: 40px 0px 0px 0px;

  height: fit-content;
  width: 400px;
  display: contents;
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.footer-icons-container i {
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.3s;
}
.copyright {
  color: #f7f1f18b;
  font-size: 0.9rem;
  font-family: "lato";
}

@media (max-width: 768px) {
  .logo img {
    width: 2rem;
    margin: 0;
   
  }
  .logo h2 {
    font-size: 1rem;
    padding-left: 10px;
   
  }
  .nav {
    background: #2a3132;
  }

  .nav {
    position: fixed;
  }
  .nav ul {
    right: 20px;
    width: 200px;
    top: 80px;
    position: fixed;
    height: 250px;
    border: 1px solid #badd76;
    box-shadow: 0px 0px 5px #f3f8ea;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background: transparent;
    backdrop-filter: blur(10px);
    display: none;
    text-align: center;
    transition: all 0.3s ease-in-out; /* Ensure transition is applied here as well */
  }

  #check:checked ~ ul {
    display: block;
    transition: all 0.3s ease-in-out; /* Ensure transition is applied here as well */
  }

  .nav ul li {
    margin: 40px 0px;
  }
  .menu i {
    font-size: 25px;
    display: block;
    padding: 0px 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  #check:checked ~ .menu i:before {
    content: "\f060";
    transition: 0.3s;
  }
  .nav {
    grid-column: span 3;
  }
  .box2 {
    height: 100vh;
  }
  .box3 {
    height: 80vh;
    background-color: #2a3132;
    grid-column: span 3;
  }
  .my-description {
   width: 80%;
    
  }

  .icons-container {
    left: -100%;
    top: 80%;
    width: 40%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: left;
    height: 0px;
    transition: 0.3s;
    z-index: 1111111;
  }
  .icons-container i {
    margin-left: 10%;
    height: 0px;
  }

  #check:checked ~ .icons-container {
    left: 0%;
  }
  .my-description {
    padding: 300px 0px 0px 0px;
    margin: 0;
    font-size: 0.5rem;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .my-description #element {
    font-size: 2rem;
    transition: 0.3s;
  }

  .buttons-container {
    justify-content: center;
  }
  .contact-me h2 {
    font-size: 1.5rem;
  }
  .Submit-btn {
    padding: 3px 20px;
    font-size: 1rem;
  }
  .footer-icons-container {
    width: 200px;
  }
  .footer-icons-container i {
    font-size: 1.2rem;
  }

}

/* Default styles for mobile devices */

/* Styles for iPad (portrait and landscape) */
@media (min-width: 768px) and (max-width: 1024px) {
  .circle-container {
    display: flex;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: 85px auto;
    align-items: center;
    justify-content: center;
    top: 50px;
    position: absolute;
  }
  .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0a7271;
  }
  .circle:nth-child(1) {
    background-color: white;
    box-shadow: 0px 0px 50px #0a7271, inset 0px 0px 5px #0a7271;
  }
  .circle:nth-child(2) {
    width: 90%;
    height: 90%;
    background-color: white;
  }
  .my-description {
    font-size: 0.8rem;
    width: 70%;
    margin: 50px 0px 0px -30%;
  }
  .btn {
    font-size: 1rem;
  }

  .myname {
    font-size: 2rem;
  }
  .icons-container {
    margin-top: 0;
    height: 200px;
  }

  .icons-containeri {
    font-size: 1.5rem;
  }
  .box4 {
    grid-column: span 3;
  }
  .contact-me h2 {
    font-size: 2rem;
  }
  .Submit-btn {
    font-size: 1rem;
  }
  .footer-icons-container {
    width: 300px;
  }
  .footer-icons-container i {
    font-size: 1.5rem;
  }
}

/* Styles for laptops and larger screens */
@media (min-width: 1025px) {
  .circle-container {
    top: 40px;
    right: 0;
    left: 53%;
    width: 400px;
    height: 400px;
    transform: none;
    margin: 85px;
  }
}

@media (max-width: 400px) {
  .icons-container i {
    padding: 0;
    margin-left: 4%;
    font-size: 1rem;
  }
  .my-description {
    padding: 300px 10px 10px 10px;
  }
  .btn {
    font-size: 0.7rem;
  }
  .nav ul li a {
    font-size: 0.7rem;
  }
  .footer-icons-container {
    width: 150px;
  }
  .footer-icons-container i {
    font-size: 1.1rem;
  }
}
